.main-menu {
    width: 8.17%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    &_block {
        width: 30%;
        hr {
            width: 100%;
        }
    }
    &_next {
        margin-bottom: 150px;
        display: flex;
        transform: rotate(270deg);
        width: 250px;
        p {
            color: rgba(255, 255, 255, 0.5);
        }
        img {
            width: 50px;
            height: 23px;
            margin-right: 20px;
        }
    }
}

@media (max-width: 701px) {
    .main-menu {
        width: 10.17%;
    }
}
@media (min-width: 2700px) {
    .main-menu_block {
        height: 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media (max-width: 400px) {
    p {
        font-size: 14px;
    }
    .main-menu { 
        img {
            width: 40px;
            height: 23px;
    }
}
}